html, body
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#1A1A1A;
	
	padding: 0px;
	margin: 0px;
}
.error{
      color:red;
      }
.errorMsg{
color:red;
}
img
{
	border: none;
}

form
{
	padding: 0px;
	margin: -2px;
}

input, textarea, select
{
	padding: 2px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

.header
{
	padding:2px 5px;
	color:#000000;
	height:60px;
}
.headerLine
{
      border-bottom: 1px solid #c18000;
      padding: 0px 0px 1px 0px;
}

.close_header
{
	padding:2px 5px;
	color:#000000;
}

.close_header div
{
	padding:0px;
}

.header div
{
	/*float:right;*/
	padding:0px;
	float: right;
}

.header div a
{
	color:#4c6474;
	text-decoration:underline;
}
.header div a:hover
{
	color:#FFFFFF;
	text-decoration:none;
}
.header div img
{
	vertical-align:right;
	margin:5px 5px 0px 0px;
	border:none;
}

.header .title
{
	font-family:Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	position:absolute;
	font-weight:bold;
}

.topmenu
{
	padding:9px 5px 5px 5px;
}

.topmenu a
{
	padding:5px 16px 5px 8px;
	background-color:#A0928D;/*B69E96,#555555*/
	color:#FFFFFF;
	font-size:12px;
	text-decoration:none;
	border-left: #BA753C solid 1px;
	border-right: #BA753C solid 1px;
	border-top: #BA753C solid 1px;
	border-bottom:#BA753C solid 1px;
	
}
.topmenu a:hover
{
	background-color:#7B7B7B;/*#A0928D*/
	text-decoration:none;
}
.topmenu a.selected
{
	background-color:#555555;
	text-decoration:none;
}
.label
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#1A1A1A;
	font-weight:bold;
	width:32%;
	text-align:right;
	padding: 6px 6px;
}

.labelForAssignment
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	text-align:justify;
}
.red_text
{
	color:#FF0000;
	text-decoration:none;
}

.valid_text
{
	color:green;
	font-size:14px; 
	font-family:Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-style:italic;
}

.invalid_text
{
	color:red;
	font-size:14px; 
	font-family:Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-style:italic;
}

/*DATA TABLE*/

.myDataTable
{
    border-left:#a0a0a0 1px solid;
    background-color:#FFFFFF;    /* TABLE CONTENT BACKGROUND COLOR */
}

/*To use the alternate row style, add class=" alternaterow"*/
.myDataTable tr.alternaterow
{
    background-color:#f2fbfd;    /* TABLE ALTERNATE ROW COLOR */
}


.myDataTable th
{
	
	background-color:#ffebbf;
	padding:5px;/* 0px 3px 0px;*/
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;  /* HEADER FONT COLOR */
 	border-right:#a0a0a0 1px solid;
 	border-top:#a0a0a0 1px solid;			
}

.createTable{
	color:#000000;
	border:#C35617 2px solid;
 	
}
.myDataTable td
{
	
 	border-right:#a0a0a0 1px solid;
 	border-bottom:#a0a0a0 1px solid;
 	padding: 3px;
 	font-family:Verdana, Arial, Helvetica, sans-serif;
 	font-size:11px;
 	color:#000000;    /* TABLE CONTENT FONT COLOR */
}

.myDataTable td.borderlessTextInput
{
	border: 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#1A1A1A;
}

.myDataTable a:link
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#3057a0;  /* LINKS FONT COLOR */
	text-decoration:underline;	
}

.myDataTable a:hover
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;  /* LINKS HOVER FONT COLOR */
	text-decoration:none;		
}

.myDataTable a:visited
{
	color:#3057a0;  /* VISITED LINKS HOVER FONT COLOR --> SAME AS NORMAL LINKS */
}

/*END DATA TABLE*/

.borderlessTextInput
{
	border: 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#1A1A1A;
}

.bodyContainer
{
	background:#FFFFFF url(../images/bodyContainerBG.jpg) top repeat-x;
}

.screenHeading
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:17px;
	color:#333333;
	line-height:40px;
}

.sectionHeading
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#333333;
/*	font-weight:bold;*/
	line-height:25px;
	display:block;
}

.sectionHeadingBlock
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#FFFFFF;
	font-weight:bold;
	line-height:23px;
	background:#ECE5B6;
	padding:0px 6px 0px;
	display:block;
}

.sectionHeadingBlockForAssignment
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	background-color:#ffebbf;
	border: 1px solid #666666;
}

.createSectionHeadingBlock
{
	font-size:15px;
	color:#FFFFFF;
	font-weight:bold;
	line-height:25px;
	background:#8A0808;
	display:block;
}

.containerBlock1
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	color:black;
	font-weight:bold;
	background:#ffebbf;
	display:block;
	padding: 5px;
	border: 1px solid #C1C1C1;
}

.bodyText
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#1A1A1A;
}

.boldBodyText
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#1A1A1A;
	font-weight:bold;
	width:17%;
	text-align:right;
}

.detailValue
{
	font-size:11px;
	width:33%;
}

.myHeadings
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#0066CC;
}

.myTextInput
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#1A1A1A;	
	/*background:#FFFFFF url(../images/textBox_BG.gif) top repeat-x;*/
	border:1px solid #4598b5;
	width: 270px;
	height: 22px;
}
.myTextInputForEditPage
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:greytext;	
	width: 290px;
	height: 22px;
	
}
.myTextInputForSelect
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#1A1A1A;	
	/*background:#FFFFFF url(../images/textBox_BG.gif) top repeat-x;*/
	border:1px solid #4598b5;
	width: 350px;
	/*height: 20px;*/
}
.myTextInputForGroupSelect
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#1A1A1A;	
	/*background:#FFFFFF url(../images/textBox_BG.gif) top repeat-x;*/
	border:1px solid #4598b5;
	width: 400px;
	/*height: 20px;*/
}
.myTextInputForAssignment
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#1A1A1A;
	/*background:#FFFFFF url(../images/textBox_BG.gif) top repeat-x;*/
	border:1px solid #4598b5;
	width: 185px;
	/*height: 20px;*/
}
.myTextBoxInput
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#1A1A1A;	
	/*background:#FFFFFF url(../images/textBox_BG.gif) top repeat-x;*/
	border:1px solid #4598b5;
	width: 183px;
	/*height: 20px;*/
}

.myTextInputArea
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#1A1A1A;	
	background:#FFFFFF url(../images/textBox_BG.gif) top repeat-x;
	border:1px solid #4598b5;
}

.creationScreen{
border-left:#1A1A1A 1px solid;
border-right:#1A1A1A 1px solid;
border-bottom:#1A1A1A 1px solid;
}

.creationScreenAlternateTR{
background-color:#F5F5E0;
}

.myTextInputBig
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background:#FFFFFF url(../images/textBox_BG.gif) top repeat-x;
	border:1px solid #4598b5;
	font-size:17px;
	color:#1A1A1A;	
	padding:3px;
}

input[type="button"]{
	background: url(../images/gray_btn_bg.gif) repeat-x;
	overflow:visible; /* to override IEs default width*/
	padding:2px 5px 2px 5px;
	border: 1px solid #8a979d;
	cursor:pointer;
	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size:11px;
	color:#000000;
}

input[type="submit"]{
	background: url(../images/gray_btn_bg.gif) repeat-x;
	overflow:visible; /* to override IEs default width*/
	padding:2px 5px 2px 5px;
	border: 1px solid #8a979d;
	cursor:pointer;
	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size:11px;
	color:#000000;
}

.myHeadings_white
{
	font-size:14px;
}

/* FIELDSET STYLE START */
fieldset legend
{	
	
	padding:2px 5px;
	
}
/* FIELDSET STYLE END */

/* For My Account*/
#container {
    margin:0 auto;
    position: relative;
}

#content {
    width:520px;
    min-height:500px;
}

#topnav {
    padding:3px 0px 12px;
    font-size:11px;
    line-height:23px;
    text-align:right;
}

#topnav a.signin, #topnav a.signin:hover {
    *background-position:0 3px!important;
}

a.signin {
    margin-left:3px;
}
a.signin span {
    background-image:url(../images/toggle_down_light.png);
    background-repeat:no-repeat;
    background-position:100% 50%;
    padding:4px 16px 6px 0;
}
#topnav a.menu-open {
    background:#ddeef6!important;
    color:#666!important;
    outline:none;
}
#small_signup {
    display:inline;
    float:none;
    line-height:23px;
    margin:25px 0 0;
    width:170px;
}
a.signin.menu-open span {
    background-image:url(../images/toggle_up_dark.png);
    color:#789;
}

#signin_menu {
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    display:none;
   	background-color:#FAF8CC;
	border-left: #C35617 solid 1px;
	border-right: #C35617 solid 1px;
	border-top: #C35617 solid 1px;
	border-bottom: #C35617 solid 1px;
    position:absolute;
    width:210px;
    z-index:100;
    border:1px transparent;
    text-align:left;
    padding:12px;
    top: 24.5px; 
    right: 0px; 
    margin-top:5px;
    margin-right: 0px;
    *margin-right: -1px;
    color:#789;
    font-size:11px;
}

#signin_menu input[type=select], #signin_menu input[type=password] {
    display:block;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border:1px solid #ACE;
    font-size:13px;
    margin:0 0 5px;
    padding:5px;
    width:203px;
}
#signin_menu p {
    margin:0;
}
#signin_menu a {
    color:#6AC;
}
#signin_menu label {
    font-weight:normal;
}
#signin_menu p.remember {
    padding:10px 0;
}
#signin_menu p.forgot, #signin_menu p.complete {
    clear:both;
    margin:5px 0;
}
#signin_menu p a {
    color:#27B!important;
}
#signin_submit {
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    background:#39d url(../images/bg-btn-blue.png) repeat-x scroll 0 0;
    border:1px solid #39D;
    color:#fff;
    text-shadow:0 -1px 0 #39d;
    padding:4px 10px 5px;
    font-size:11px;
    margin:0 5px 0 0;
    font-weight:bold;
}
#signin_submit::-moz-focus-inner {
padding:0;
border:0;
}
#signin_submit:hover, #signin_submit:focus {
    background-position:0 -5px;
    cursor:pointer;
}

/*For Menu*/
.kwicks {  
     list-style: none;  
     position: relative;  
     margin: 0;  
     padding: 0; 
	 background-image:url(../images/no_flicker.jpg); /*some browsers are to slow when aligning the menu items via jQuery and so the background shines through, this prevents this flickering*/

 }  
 .kwicks li{  
    display: block;  
    overflow: hidden;  
    padding: 0;  
    cursor: pointer;  
	float: left;
	width: 100px;
	height: 35px;
	margin-right: 0px;
	background-image:url(../images/kwicks_sprite.jpg);
	background-repeat:no-repeat;
}
.kwicks a{
	display:block;
	height:35px;
	text-indent:-9999px;
	outline:none;
}

#Helpdesk {
	background-position:0px 0px;
}
#Tech-CR {
	background-position:-175px 0px;
}
#NOC-Alerts {
	background-position:-350px 0px;
}
#Mail-Tracker { 
	background-position:-525px 0px;
}
#Reports { 
	background-position:-700px 0px;
}
#Settings { 
	background-position:-875px 0px;
}
#Contact-Info { 
	background-position:-1050px 0px;
}



#Helpdesk.active, #Helpdesk:hover { 
	background-position: 0 bottom;
}
#Tech-CR.active, #Tech-CR:hover{
	background-position: -175px bottom;
}
#NOC-Alerts.active, #NOC-Alerts:hover {
	background-position: -350px bottom;
}
#Mail-Tracker.active, #Mail-Tracker:hover {
	background-position: -525px bottom; 
}
#Reports.active, #Reports:hover {
	background-position: -700px bottom; 
}
#Settings.active, #Settings:hover {
	background-position: -875px bottom; 
}
#Contact-Info.active, #Contact-Info:hover {
	background-position: -1050px bottom; 
}

#Helpdesk a{
	background-position: left 0px;
}

#Helpdesk a:hover{
	background-position: left -70px;
}

#Contact-Info a{
	background-position: right -35px;
}
#Contact-Info a:hover{
	background-position: right -105px;
}


/*New Style for Menu*/
.Helpdesk
{
background:url(../images/Helpdesk.png) no-repeat;
background-position: right;
}

.Tech-CR
{
background:url(../images/Tech-CR.png) no-repeat;
background-position: right;
}
.Escalations-Contact
{
background:url(../images/Contact-Info.png) no-repeat;
background-position: right;
padding-right:5px;
}
.Contact-Info
{
background:url(../images/Contact-Info.png) no-repeat;
background-position: right;
padding-right:5px;
}
.View-Asset
{
background:url(../images/View-Asset.png) no-repeat;
background-position: right;
padding-right:5px;
}
.WorkSpace-Management
{
background:url(../images/space.png) no-repeat;
background-position: right;
padding-right:5px;
}
.Mail-Tracker
{
background:url(../images/Mail-Tracker.png) no-repeat;
background-position: right;
}
.Home
{
background:url(../images/home.png) no-repeat;
background-position: right;
}
.existing_ticket
{
background:url(../images/existing_ticket.png) no-repeat;
background-position: right;
}
.myapproval
{
background:url(../images/approval.png) no-repeat;
background-position: right;
}
.ApprovedByMe
{
background:url(../images/app_me.png) no-repeat;
background-position: right;
}
.RejectedByMe
{
background:url(../images/rej_me.png) no-repeat;
background-position: right;
}
.Reports
{
background:url(../images/Reports.png) no-repeat;
background-position: right;
}
.ViewAssetDetail
{
background:url(../images/View-Asset.png) no-repeat;
background-position: right;
}
.Settings
{
background:url(../images/Settings.png) no-repeat;
background-position: right;
}
.NOC-Alerts
{
background:url(../images/NOC-Alerts.png) no-repeat;
background-position: right;
}
.menuImage
{
	border: 0px;
}

.pagebanner {
	background-color: #C6D2D6;
	padding: 5px;
	margin-top: 0px;
	display: block;
	border-bottom: none;
	float:left;
}

.pagelinks {
	background-color: #C6D2D6;
	padding: 5px;
	display: block;
	border-top: none;
	margin-top: 0px;
}
.borderLessImage{
	border:none;
}
.search
{
	background:#FFFFFF url(../images/search.png) no-repeat 5px 5px;
	background-position:right;
	padding:3px 22px 3px 0px;
	border:1px solid #CCCCCC;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}

.spacer
{
	margin-left:-22px;
	margin-bottom: -2px;
	z-index:999;
	border: none;
}

.footer
{
	width:100%;
	bottom:0;
	font-size:10px;
	text-align:center;
	background-color:#abb7b8;
	padding:4px;
	position:fixed;
}

.tabLiner
{
	border-bottom: 1px solid #CCCCCC;
    margin-top: 12px;
}
.mySticky
{
	background-image: url(../images/sticky.jpg);
	height:350px;
	width:170px;
}

.mySticky div
{
	height: 250px;
	padding: 10px;
	margin-right: 7px;
}

#pscroller2
{
	width: 180px;
	height: 175px;
	padding-left: 20px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	color: #333333;
	line-height: 20px;
}

#pscroller2 span
{
	font-weight: bold;
	text-decoration: underline;
}

.someclass
{ 
	//class to apply to your scroller(s) if desired
}
.Sticky
{
	background-image: url(../images/sticky.jpg);
	height: 295px;
	width:170px;
}

.Sticky div
{
	height: 190px;
	padding: 10px;
}

.sticky_head
{
	padding-left: 40px;
}
.board
{
	background: url(../images/board_head_cont1.gif) no-repeat;
	background-position: bottom;
	margin: 10px 0px 0px 10px;
	width: 165px;
	min-height: 250px;
}

.board strong
{
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
}

.board div
{
	background: url(../images/board_head1.gif) no-repeat;
	background-position: left;
	padding: 8px 0 10px 10px;
	/*padding:24px 0 10px 10px;*/
	
}


/*DATA TABLE*/

.myDataTableAdmin
{
    border-left:#a0a0a0 0px solid;
    background-color:#FFFFFF;    /* TABLE CONTENT BACKGROUND COLOR */
}

/*To use the alternate row style, add class=" alternaterow"*/
.myDataTableAdmin tr.alternaterow
{
    background-color:#f2fbfd;    /* TABLE ALTERNATE ROW COLOR */
}


.myDataTableAdmin th
{
	
	background-color:#ffebbf;
	padding:5px;/* 0px 3px 0px;*/
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;  /* HEADER FONT COLOR */
 	border-right:#a0a0a0 0px solid;
 	border-top:#a0a0a0 0px solid;			
}

.createTable{
	color:#000000;
	border:#C35617 2px solid;
 	
}
.myDataTableAdmin td
{
 	border-right:#a0a0a0 0px solid;
 	border-bottom:#a0a0a0 0px solid;
 	padding: 3px;
 	font-family:Verdana, Arial, Helvetica, sans-serif;
 	font-size:11px;
 	color:#000000;    /* TABLE CONTENT FONT COLOR */
}

.myDataTableAdmin td.borderlessTextInput
{
	border: 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#1A1A1A;
}

.myDataTableAdmin a:link
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#3057a0;  /* LINKS FONT COLOR */
	text-decoration:underline;	
}

.myDataTableAdmin a:hover
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;  /* LINKS HOVER FONT COLOR */
	text-decoration:none;		
}

.myDataTableAdmin a:visited
{
	color:#3057a0;  /* VISITED LINKS HOVER FONT COLOR --> SAME AS NORMAL LINKS */
}
.labelAdmin
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#1A1A1A;
	font-weight:bold;
	width:10%;
	text-align:right;
}
/*END DATA TABLE*/
.myTextInputForSelectAdmin
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#1A1A1A;	
	/*background:#FFFFFF url(../images/textBox_BG.gif) top repeat-x;*/
	border:1px solid #4598b5;
	width: 350px;
	/*height: 20px;*/
}

.valid_textAdmin
{
	color:green;
	font-size:12px; 
	font-family:Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-style:italic;
}

.invalid_textAdmin
{
	color:red;
	font-size:12px; 
	font-family:Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-style:italic;
}

.accor_headAdmin
{
	background:#CCA37A;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	display:block;
	padding: 5px;
	text-decoration: none;
}
.ui-layout-west{ top:101px !important;}
.ui-layout-center{ top:101px !important;}
.ui-layout-resizer.ui-layout-resizer-west{ top:101px !important;}
.ui-layout-resizer.ui-layout-resizer-east{ top:101px !important;}
