/* pagination css  starts ........*/

.pagination {
            font-size: 15px;
        }
        
.pagination a {
    text-decoration: none;
	color: #15B;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.3em;
    margin-right: 3px;
	margin-bottom: 5px;
}

.pagination .current {
    background: #26B;
    color: #fff;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
